body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-juice-itc: "Juice ITC";

  /* font sizes */
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-gray: #2d2c2c;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-81xl: 100px;
}
