.toca-para-empezar {
  position: absolute;
  top: 413px;
  left: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 122px;
  cursor: pointer;
}
.luna-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1334px;
  height: 926px;
  object-fit: cover;
}
.iphone-13-pro-max-1-child {
  position: absolute;
  top: 871px;
  left: 371px;
  border-radius: 50%;
  background-color: #2d2c2c;
  width: 46px;
  height: 44px;
  cursor: pointer;
}
.iphone-13-pro-max-1-inner,
.iphone-13-pro-max-1-item,
.line-icon {
  position: absolute;
  top: 881px;
  left: 380px;
  width: 27px;
  height: 6px;
}
.iphone-13-pro-max-1-inner,
.line-icon {
  top: 890px;
}
.line-icon {
  top: 899px;
}
.iphone-13-pro-max-1 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  height: 926px;
  overflow: hidden;
  mix-blend-mode: luminosity;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-juice-itc);
}
