.cuento-1 {
  position: absolute;
  top: 28px;
  left: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 309px;
  height: 152px;
}
.estrellas-icon,
.iphone-13-pro-max-7-child {
  position: absolute;
  top: 884.81px;
  left: 403.54px;
  width: 2.88px;
  height: 19.39px;
}
.estrellas-icon {
  top: 0;
  left: 0;
  width: 1642px;
  height: 1236px;
  object-fit: cover;
}
.tu-historia {
  position: absolute;
  top: 117px;
  left: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 309px;
  height: 152px;
}
.iphone-13-pro-max-7-item {
  position: absolute;
  top: 316px;
  left: 59px;
  background-color: #0d0d0d;
  width: 309px;
  height: 294px;
}
.escrbenos-una-historia {
  position: absolute;
  top: 325px;
  left: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 309px;
  height: 274px;
}
.iphone-13-pro-max-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 926px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-juice-itc);
}
