.luna-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1334px;
  height: 926px;
  object-fit: cover;
}
.ajustes-de-color {
  position: absolute;
  top: 67px;
  left: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 122px;
}
.image-1-icon {
  position: absolute;
  top: 361px;
  left: 10px;
  width: 403px;
  height: 102px;
  object-fit: cover;
}
.iphone-13-pro-max-6-child {
  position: absolute;
  top: 871px;
  left: 10px;
  border-radius: 50%;
  background-color: #2d2c2c;
  width: 46px;
  height: 44px;
  cursor: pointer;
}
.iphone-13-pro-max-6-item {
  position: absolute;
  top: 884.38px;
  left: 25.49px;
  border-radius: 2px;
  width: 12.76px;
  height: 16.25px;
  cursor: pointer;
}
.iphone-13-pro-max-6 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100%;
  height: 926px;
  overflow: hidden;
  mix-blend-mode: luminosity;
  text-align: center;
  font-size: 40px;
  color: var(--color-white);
  font-family: var(--font-juice-itc);
}
