body{
    background: white;
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-juice-itc: "Juice ITC";
  
    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-gray: #2d2c2c;
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
    --color-darkgray: #a1a1a1;
  
    /* Border radiuses */
    --br-11xs: 2px;
    --br-81xl: 100px;
}
/* Clases compartidas entre varios elementos */
.position-absolute {
    position: absolute;
  }
  
  .border-radius-50 {
    border-radius: 50%;
  }
  
  .background-color-gray {
    background-color: var(--color-gray);
  }
  
  .width-46 {
    width: 46px;
  }
  
  .height-44 {
    height: 44px;
  }
  
  .width-12 {
    width: 12.76px;
  }
  
  .height-16 {
    height: 16.25px;
  }
  
  /* Clases para los elementos comunes */
  .common-element {
    top: 873px;
    left: 9px;
  }
  /* Estilos para la imagen (ajustar según sea necesario) */

  .toca-para-empezar {
    position: absolute;
    top: 460px;
    left: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 122px;
    cursor: pointer;
  }
  .Menu-icon {
    position: absolute;
    top: 780px;
    left: 320px;
    border-radius: 50%;
    background-color:  #666363;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .Menu-lines{
    position: absolute;
    top: 782.5px;
    left: 322.5px;
    border-radius: 50%;
    background-color:  #666363;
    width: 37px;
    height: 37px;
    cursor: pointer;
  }

  .Home-inner,
  .Home-item {
    position: absolute;
    top: 880px;
    left: 380px;
    width: 27px;
    height: 27px;
  }
  .Home {
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
    height: 926px;
    overflow: hidden;
    mix-blend-mode: luminosity;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-juice-itc);
  }
  .Luna {
    display: flex;
    justify-content: center;
    align-items: center; 
    top: 0;
    left: 0;
    height: 200vh;
    object-fit: cover;
    max-width: 100%; /* Ajusta el tamaño de la imagen si es necesario */
    max-height: 100%;
  }
    
  /* Clases específicas para cada grupo de elementos */

  .meteorito-icon,
  .luna-icon,
  .cometas-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 926px;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }
  
  .seleccion,
  .iphone-13-pro-max-2,
  .iphone-13-pro-max-5,
  .iphone-13-pro-max-6 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 926px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-juice-itc);
  }
  
  .cuento-1,
  .cuento-1-sin,
  .cuento-2,
  .ajustes-de-color,
  .tocar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 309px;
    height: 152px;
    top: 28px;
    left: 59px;
  }
  .tocar-circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 40px;
    background-color: #2d2c2c;
  }
  .circle2{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 380px;
    left: 250px;
    background-color: #2d2c2c;
  }
  
  .rectangle-div,
  .iphone-13-pro-max-1-child1,
  .iphone-13-pro-max-5-child1 {
    position: absolute;
    top: 238px;
    left: 406px;
    border-radius: var(--br-81xl);
    width: 11px;
    height: 449px;
  }
  
  .circle2,
  .line-icon,
  .back-button,
  .iphone-13-pro-max-6-child,
  .iphone-13-pro-max-6-item {
    position: absolute;
  }
  
  .circle2
  .line-icon {
    top: 690px;
  }
    
  /* Clases específicas para los elementos de cada grupo */
  .tocar-circle,
  .circle2,
  .back-button,
  .iphone-13-pro-max-5-child,
  .iphone-13-pro-max-5-child2,
  .iphone-13-pro-max-5-child4,
  .iphone-13-pro-max-5-child5,
  .iphone-13-pro-max-5-child6 {
    border-radius: 50%;
    width: 46px;
    height: 44px;
    cursor: pointer;
  }
  
  .back-button {
    width: 27px;
    height: 27px;
    top: 790px;
    left: 25px;
  }
  
  .line-icon {
    width: 2.64px;
    height: 10.62px;
  } 
  
  .iphone-13-pro-max-2-child4,
  .iphone-13-pro-max-2-child5,
  .iphone-13-pro-max-2-child6 {
    width: 12.76px;
    height: 16.25px;
  }
  
  .iphone-13-pro-max-2-child4 {
    top: 890.47px;
    left: 381px;
    width: 9.25px;
    height: 10.07px;
  }
  
  .line-icon {
    top: 884.69px;
    left: 389.61px;
    width: 2.64px;
    height: 10.62px;
  }
  
  .iphone-13-pro-max-2-child5 {
    top: 887.75px;
    left: 398.57px;
    width: 2.79px;
    height: 14.5px;
  }
  
  .iphone-13-pro-max-2-child6 {
    top: 884.81px;
    left: 403.54px;
    width: 2.88px;
    height: 19.39px;
  }
  
  /* Clases para los elementos específicos de la luna */
  
  .iphone-13-pro-max-6-child {
    background-color: #2d2c2c;
    mix-blend-mode: hard-light;
  }
  
  .tocar-circle,
  .circle2,
  .iphone-13-pro-max-6-child {
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 100px;
    height: 100px;
  }
  
  .tocar{
    width: 64px;
    height: 80px;
  }

  .polygon-icon{
    width: 46px;
    height: 38px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    fill: #D9D9D9;
  }
  
  /* Clases para los elementos específicos de los cometas */
  .rectangle-div {
    background-color: #636363;
  }
  
  .iphone-13-pro-max-5-child1 {
    background-color: #cecdcd;
    width: 5px;
    height: 55px;
  }
  
  .iphone-13-pro-max-5-child4 {
    top: 891.47px;
    left: 381px;
    width: 9.25px;
    height: 10.07px;
  }
  
  .iphone-13-pro-max-5-child5 {
    width: 2.79px;
    height: 14.5px;
  }
  
  .iphone-13-pro-max-5-child6 {
    width: 2.88px;
    height: 19.39px;
  }
  
  /* Clases para los elementos específicos de los meteoritos */
  .meteorito-icon {
    width: 707px;
  }
  
  /* Clases para los elementos específicos de la luna */
  .luna-icon {
    width: 1334px;
  }
  
  /* Clases para los elementos específicos de los cometas */
  .cometas-icon {
    width: 1589px;
  }
